doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Men&apos;s All Items
    link(rel='stylesheet' href='/static/mens_all.css')

  body
    // Navbar
    nav.navbar
      .dropdown
        button.dropbtn Categories
        .dropdown-content
          a(href='/mens_all') Men&apos;s Clothing
          a(href='/women_cloth') Women&apos;s Clothing
          a(href='#') Kids&apos; Clothing
          a(href='#') Footwear
          a(href='#') Electronic Devices
          a(href='#') Groceries
          a(href='#') Home Decor
          a(href='#') Kitchenware
          a(href='#') Books
      a(href='/') Home
      a(href='/cart') Cart
      a(href='/loginpage') Sign In

    // Search Bar
    .search-bar
      input(type='text' placeholder='Search for products')
      button Search

    // Promotional Banners
    section.mens-heading
      .heading
        h2 Search all in Men&apos;s Fashionista 

    // Items Container
    .items-container
      .item
        img.item-image(src='/static/Mens_wear_pics/mens_tshirt1.jpg' alt='Stylish T-Shirt')
        .item-details
          h2 Stylish T-Shirt
          p High-quality cotton t-shirt with a comfortable fit and modern design.
          p.price Price: &#x20B9;499.00
          button.add-to-cart +

      .item
        img.item-image(src='/static/Mens_wear_pics/mens_shoes1.jpg' alt='Stylish Shoes')
        .item-details
          h2 Stylish Shoes
          p High-quality shoes with a comfortable fit and modern design.
          p.price Price: &#x20B9;3999.00
          button.add-to-cart +
      
      .item
        img.item-image(src='/static/Mens_wear_pics/mens_jeans1.jpg' alt='Stylish Jeans')
        .item-details
          h2 Stylish Jeans
          p High-quality denim with a comfortable fit and modern design.
          p.price Price: &#x20B9;899.00
          button.add-to-cart +

      // Repeat similar structure for other items
      // (Additional items here...)

    // Review Button Section
    .review-section
      a(href='/reviews')
        button.review-button Product Reviews

    // Footer
    footer.footer
      p &copy; 2024 Sample Store - All rights reserved
      a(href='#') Help
      a(href='#') Contact
      a(href='#') Privacy

    script(src='/static/mens_all_script.js')
