doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Men&apos;s All Items
  link(rel='stylesheet' href='/static/mens_all.css')
// Navbar
nav.navbar
  .dropdown
    button.dropbtn Categories
    .dropdown-content
      a(href='/mens_all') Men&apos;s Clothing
      a(href='/women_cloth') Women&apos;s Clothing
      a(href='#') Kids&apos; Clothing
      a(href='#') Footwear
      a(href='#') Electronic Devices
      a(href='#') Groceries
      a(href='#') Home Decor
      a(href='#') Kitchenware
      a(href='#') Books
  a(href='/') Home
  a(href='/cart') Cart
  a(href='/loginpage') Sign In
// Search Bar
.search-bar
  input(type='text' placeholder='Search for products')
  button Search
// Promotional Banners
section.mens-heading
  .heading
    h2 Search all in Men&apos;s Fashionista 
.items-container
  .item
    img.item-image(src='/static/Mens_wear_pics/mens_tshirt1.jpg' alt='Stylish T-Shirt')
    .item-details
      h2 Stylish T-Shirt
      p High-quality cotton t-shirt with a comfortable fit and modern design.
      p.price Price: &#x20B9;499.00
      button.add-to-cart +
  // Repeat similar structure for other items: hoodie, watches, etc.
  .item
    img.item-image(src='/static/Mens_wear_pics/mens_tshirt1.jpg' alt='Stylish T-Shirt')
    .item-details
      h2 Stylish T-Shirt
      p High-quality cotton t-shirt with a comfortable fit and modern design.
      p.price Price: &#x20B9;499.00
      button.add-to-cart +
  .item
    img.item-image(src='/static/Mens_wear_pics/mens_tshirt1.jpg' alt='Stylish T-Shirt')
    .item-details
      h2 Stylish T-Shirt
      p High-quality cotton t-shirt with a comfortable fit and modern design.
      p.price Price: &#x20B9;499.00
      button.add-to-cart +
  .item
    img.item-image(src='/static/Mens_wear_pics/mens_tshirt1.jpg' alt='Stylish T-Shirt')
    .item-details
      h2 Stylish T-Shirt
      p High-quality cotton t-shirt with a comfortable fit and modern design.
      p.price Price: &#x20B9;499.00
      button.add-to-cart +
  .item
    img.item-image(src='/static/Mens_wear_pics/mens_tshirt1.jpg' alt='Stylish T-Shirt')
    .item-details
      h2 Stylish T-Shirt
      p High-quality cotton t-shirt with a comfortable fit and modern design.
      p.price Price: &#x20B9;499.00
      button.add-to-cart +
  .item
    img.item-image(src='/static/Mens_wear_pics/mens_tshirt1.jpg' alt='Stylish T-Shirt')
    .item-details
      h2 Stylish T-Shirt
      p High-quality cotton t-shirt with a comfortable fit and modern design.
      p.price Price: &#x20B9;499.00
      button.add-to-cart +
  .item
    img.item-image(src='/static/Mens_wear_pics/mens_tshirt1.jpg' alt='Stylish T-Shirt')
    .item-details
      h2 Stylish T-Shirt
      p High-quality cotton t-shirt with a comfortable fit and modern design.
      p.price Price: &#x20B9;499.00
      button.add-to-cart +
// Footer
footer.footer
  p &copy; 2024 Sample Store - All rights reserved
  a(href='#') Help
  a(href='#') Contact
  a(href='#') Privacy
script(src='/static/mens_all_script.js')
