doctype html

head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Women&apos;s Clothing
  link(rel='stylesheet' href='/static/women_cloth.css')
// Navigation Bar (reused from index.html)
nav.navbar
  a(href='/') Home
  a(href='/cart') Cart
  a(href='/loginpage') Sign In
// Search Bar
.search-bar
  input(type='text' placeholder='Search for products')
  button Search
// Promotional Banners
section.promo-banners
  .banner
    h2 Huge Sale! 30-50% off | Tshirt, Hoodies, Caps
    p Get top deals on shirts, tank-tops, and jeans
  .banner
    h2 Up to 40% off | Leather Jackets, Trendy Kits
    p Get the best offers on Belts, Shoes and more
// Women's Clothing Items Section
section.popular-deals
  h2 Featured Men&apos;s Clothing
  .deal-item-mens
    img(src='/static/Women_wear_pics/womens_ethnic1.jpg' alt='Ethnic' style='width: 200px; height: 200px;')
    h3 Ethnic Wear
    p
      strong 40% off
      |  - &#x20B9;799.00
  .deal-item-mens
    img(src='/static/Women_wear_pics/womens_tshirt1.jpg' alt='Tshirt' style='width: 200px; height: 200px;')
    h3 Pink Tshirt
    p
      strong 34% off
      |  - &#x20B9;399.00
  // Add more women's clothing items as needed
  h2  
  .deal-item-mens
    img(src='/static/Women_wear_pics/womens_dress1.jpg' alt='Dress' style='width: 200px; height: 200px;')
    h3 2-In-1 formal wear 
    p
      strong 27% off
      |  - &#x20B9;550.00
  .deal-item-mens
    img(src='/static/Women_wear_pics/womens_jeans1.jpg' alt='Jeans' style='width: 200px; height: 200px;')
    h3 White heels
    p
      strong 30% off
      |  - &#x20B9;770.00
// Hero Section for Women's Clothing
header.hero
  h1 Women&apos;s Clothing Collection
  p Explore the latest trends in women&apos;s fashion
  button Shop Women&apos;s Clothing
// Footer (reused from index.html)
footer.footer
  p &copy; 2024 Sample Store - All rights reserved
  a(href='#') Help
  a(href='#') Contact
  a(href='#') Privacy